body{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:#606c38;
    background-color:#fefae0;
}

article{
    background-color: #dda15e;
    color: #fefae0;
    padding: 45px;
    margin: 45px;
    font-size: 16px;
    border-radius: 15%;
} 