*{
    /* border: 1px solid green; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    width: 60%;
    /* display: inline; */
}
a{
    /* width: 60%;
    display: block;
    height: 125px; */
}
img{
    width: 35%;
    display: inline-block;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 20px;
}

ul > li > a{
    color: darkcyan;
}
li{
    display: inline;
}
li>a:hover{
    color: cyan;
}